*{
    padding: 0;
}


.yas{

    padding: 0;
    
}



.yams{
    margin: 0 auto;
    text-align: center;
}
.yasmm{
    align-items: center;
}
h1 {
    color: rgb(7, 7, 7);
    font-style: italic;
    font-size: 26px;
    font-family: 'Luminari';
    font-weight: bold;
    border: solid 2px rgb(0, 0, 0);
    text-align: center;
}
h2 {
    color: rgb(47, 70, 70);
    text-align: center;
}
h3 {
    color: rgb(47, 70, 70);
    text-align: center;
}
body {
    background-color: lavender;
    text-align: center;
}
p {
    font-size: 26px;
    font-family: 'Luminari';
    font-weight: bold;
    padding: 0px 15px;
}
ul {
    font-size: 26px;
    font-family: 'Luminari';
    font-weight: bold;
}
a{
    text-decoration: none ;
}
img {
    width: 70vw;
    max-width: 400px;
}

h1{
    border-radius: 55px;
    text-align: center;
}
#paragafro{
    font-style: oblique;
}

div {
    background-color: #f5f5f5;
    width: 930px;
 
    border-top: 20px solid #d5d5d5 ;
    background-image: url('../img/b03920d09a17a034fa81da7323e9a30b.jpg');
    /*height: 50vh;
    border: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    background-attachment: fixed;
    margin: 40px 50px;*/
}
#paragafro{
    font-style: oblique;
}
.agronomia{
    font-style: oblique;
}
#paragafro{
    font-style: oblique;
}
.agronomia{
    font-style: oblique;
    border-radius: 55px;
}

li{
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:  20px;
}
.paragafro_especial{
    color: rgb(161, 26, 26);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
ol{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.agronomo {
    color:rgb(168, 87, 87)
}
li {
    display: inline;
    margin-left: 10px;
}
a{
    font-size: 10px;
    text-decoration: none;
    color: #fff;
    align-items:  center;
    background-color: black;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(167, 158, 158);
    padding: 8px 15px;
    border-radius: 10px;
    align-items: center
}
a:hover{
    color:rgb(161, 26, 26)
}
header {
    top: 0;
    background-color:#d68888 ;
    align-items: center;

}
footer {
    align-items: center;
    border-bottom: rgb(47, 70, 70);
}
nav {
    align-items: center;
}
.mapa{
    color:rgb(161, 26, 26)
}

.yas {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
}
body {  		
    background-color: #d68888;
    margin: 0;  	
 }  

 @media (width < 940px) {
    div{
        width: 400px;
    }
    
 }


 @media (width < 600px) {
    img{
        width: 300px;
    }

    h1 {
        width: 325px;
        margin: 0 auto;
    }

    p {
        width: 325px;
        margin: 0 auto;
    }
    
 }

.ei{
    background-color: #cfa1a1;
    color: #000000;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    border:  4px, #000000;
}
:root{
    --cor-principal: #ffffff;
    --cor-secundaria: #f0bcbc;
    --cor-secundaria-variante: #db8b8b;

}

.title{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 45px;
    
}

body::-webkit-scrollbar { 
	display: none;
}


main{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-principal);
}

.map-mouldure{
    width: 40vh;
    height: 40vh;
    background-color: var(--cor-secundaria);
    text-align: center;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 20px var(--cor-secundaria-variante) solid;
    border-style: double;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    

    

}

.map-mouldure a{
    width: 40vh;
    height: 40vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.map-image{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%;
    height: 60%;
    border: 2px rgb(94, 94, 94) solid;
    border-radius: 20px;
}

.map-image:hover{
    margin-top: 0px;
    height: 80%;
    width: 120%;
    transition: 300ms;
    cursor: pointer

    

}

footer{
    background-color: #cfa1a1;
    color: #000000;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
    border:  4px, #000000;
}