yas{
    align-items: center;
    text-align: center;
}
yams{
    align-items: center;
    text-align: center;
}
yasmm{
    align-items: center;
}
h1 {
    color: rgb(7, 7, 7);
    font-style: italic;
    font-size: 26px;
    font-family: 'Luminari';
    font-weight: bold;
    border: solid 2px rgb(0, 0, 0);
    text-align: center;
}
h2 {
    color: rgb(47, 70, 70);
    text-align: center;
}
h3 {
    color: rgb(47, 70, 70);
    text-align: center;
}
body {
    background-color: lavender;
    text-align: center;
}
p {
    font-size: 26px;
    font-family: 'Luminari';
    font-weight: bold;
}
ul {
    font-size: 26px;
    font-family: 'Luminari';
    font-weight: bold;
}
a{
    text-decoration: none ;
}
img {
    width: 400px;
}

h1{
    border-radius: 55px;
    text-align: center;
}
#paragafro{
    font-style: oblique;
}

div {
    background-color: #f5f5f5;
    padding: 50px;
    width: 930px;
    margin: 0 auto;
    border-top: 20px solid #d5d5d5 ;
    text-align: center;
    background-image: url('../img/b03920d09a17a034fa81da7323e9a30b.jpg');
    /*height: 50vh;
    border: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    background-attachment: fixed;
    margin: 40px 50px;*/
}
#paragafro{
    font-style: oblique;
}
.agronomia{
    font-style: oblique;
}
#paragafro{
    font-style: oblique;
}
.agronomia{
    font-style: oblique;
    border-radius: 55px;
}
a {
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #070707;
    padding: 8px 15px;
    border-radius: 20px;
}
li{
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:  20px;
}
.paragafro_especial{
    color: rgb(161, 26, 26);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
ol{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
    width: 400px;
}

.agronomo {
    color:rgb(161, 26, 26)
}
li {
    display: inline;
    margin-left: 10px;
}
a{
    font-size: 14px;
    text-decoration: none;
    align-items: center;
}
a:hover{
    color:rgb(161, 26, 26)
}
header {
    top: 0;
    background-color:rgb(133, 187, 189) ;
    align-items: center;

}
footer {
    align-items: center;
    border-bottom: rgb(47, 70, 70);
}
nav {
    align-items: center;
}
.mapa{
    color:rgb(161, 26, 26)
}

.yas {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
}
body {  		
    background-color: rgb(133, 187, 189);  	
 }  