body {margin: 0px;}

#container {
	background-color: black;
	cursor: pointer;
	display: none;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
    width: 300px;
	height: 600px;
}

#container * {
	position: absolute;
}

#border{
    border: 1px solid gray;  
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#clickthru{
	width: 100%;
	height: 100%;
	pointer-events: auto;
}

/*-------------- SPRITE -------------*/
.sprite { background: url('sprite.png') no-repeat top left; width: 185px; height: 389px; background-size: 185px 389px;  } 
.sprite.logo { background-position: 0 0; width: 122px; height: 81px; } 
.sprite.t1-1 { background-position: 0 -86px; width: 177px; height: 27px; } 
.sprite.t1-2 { background-position: 0 -118px; width: 185px; height: 53px; } 
.sprite.t2-1 { background-position: 0 -176px; width: 146px; height: 11px; } 
.sprite.t2-2 { background-position: 0 -192px; width: 126px; height: 111px; } 
.sprite.t3-1 { background-position: 0 -308px; width: 133px; height: 62px; } 
.sprite.t3-2 { background-position: 0 -375px; width: 26px; height: 14px; } 

.t1-1 {top: 33px;left: 64px;}
.t1-2 {top: 63px;left: 65px;}
.t2-1 {top: 19px;left: 64px;}
.t2-2 {top: 54px;left: 65px;}
.t3-1 {top: 188px;left: 63px;}
.t3-2 {top: 233px;left: 121px;}
.logo {top: 296px;left: 63px;}
.pattern {width: 37px; height: 402px;bottom: 0}
/*-------- IMAGES | POSITION --------*/
img {
	width: 100%;
	height: auto;
	display: block;
}
.overlay{
    background-color: #ffffff;
    width:100%;
    height: 400px;
    bottom:0px;
    overflow: hidden;
}
.cover {
    background-color: #ffffff;
    width: 61px;
    height: 100%;
}
.bg {
	width: 332px; height: 600px;
    left: -30px;
}

.line{
	background-color: #000;
	width: 148px;
	height: 1px;
    top: 35px;;left: 63px;}